[gcode_macro BLOBIFIER_CLEAN]
gcode:
    CLEAN_NOZZLE
    # {% set x_park, y_park, z_hop, z_ramp, retract = printer["gcode_macro _MMU_SEQUENCE_VARS"].park_toolchange %}
    {% set park_x, park_y = printer["gcode_macro _MMU_SEQUENCE_VARS"].park_toolchange[:2] %}
    G1 X{park_x} Y{park_y}