[gcode_macro BLOBIFIER_CLEAN]
gcode:
    CLEAN_NOZZLE Z_DROP=0
    {% set park_x, park_y = printer["gcode_macro _MMU_SEQUENCE_VARS"].park_toolchange[:2] %}
    G1 X{park_x} Y{park_y}

[delayed_gcode BLOBIFIER_INIT]
initial_duration: 5.0
gcode:
  _BLOBIFIER_INIT
  # Extend and retract the tray to test
  BLOBIFIER_SERVO POS=out
  BLOBIFIER_SERVO POS=in
