##########################################################################################
# Park the nozzle on the tray to prevent oozing during filament swaps. Place this 
# extension in the pre-unload extension in mmu_macro_vars.cfg:
#   variable_user_pre_unload_extension: "BLOBIFIER_PARK"
#
[gcode_macro BLOBIFIER_PARK]
variable_restore_z: 0
gcode:
  {% set bl = printer['gcode_macro BLOBIFIER'] %}
  {% set pos = printer.gcode_move.gcode_position %}
  {% set pos_max = printer.toolhead.axis_maximum %}
  {% set position_y = pos_max.y %}

  SET_GCODE_VARIABLE MACRO=BLOBIFIER_PARK VARIABLE=restore_z VALUE={pos.z}

  SAVE_GCODE_STATE NAME=blobifier_park_state
  
  {% if "xy" not in printer.toolhead.homed_axes %}
    RESPOND MSG="Automatically homing XY"
    G28 X Y
  {% endif %}
  
  {% if "z" not in printer.toolhead.homed_axes %}
    RESPOND MSG="Automatically homing Z"
    G28 Z
  {% endif %}
  
  # {% if printer.quad_gantry_level and printer.quad_gantry_level.applied == False %}
  #   RESPOND MSG="Automatically QGL"
  #   quad_gantry_level
  #   G28 Z
  # {% endif %}

  G90

  G1 E-{bl.retract_before_park} F{bl.retract_speed}
  G1 X{bl.purge_x} Y{position_y} F{bl.travel_spd_xy}
  G1 Z{bl.tray_top} F{bl.travel_spd_z}
  
  RESTORE_GCODE_STATE NAME=blobifier_park_state