[temperature_sensor _Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: CHAMBER_TEMPERATURE

[temperature_sensor Chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor _Chamber, temperature_sensor _iHeater_Chamber
#   Must be provided. List of sensors to combine to new "virtual"
#   sensor.
#   E.g. 'temperature_sensor sensor1,extruder,heater_bed'
combination_method: mean
#   Must be provided. Combination method used for the sensor.
#   Available options are 'max', 'min', 'mean'.
maximum_deviation: 999.9
#   Must be provided. Maximum permissible deviation between the sensors
#   to combine (e.g. 5 degrees). To disable it, use a large value (e.g. 999.9)

